@use "../mixins";
@use "../variables";

.about {
  color: variables.$text-color-primary;
}

.about__link {
  position: relative;
  color: variables.$text-color-primary;

  & svg {
    color: variables.$text-color-primary;
  }

  &:hover .about__title,
  &:hover svg {
    color: #81b3d2;
  }

  &:active .about__title,
  &:active svg {
    color: #b3b3b3;
  }
}

.about__icon {
  position: absolute;
  left: calc(100% - 30px);
  top: calc(100% - 25px);
}

.about__title {
  @include mixins.text--normal(14px, inherit);
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 40px 13px 0;
}
