@use "../mixins";
@use "../variables";

.advantages__header {
  padding: 33px 25px 14px;

  @media (min-width: variables.$tablet-width) {
    padding: 47px 124px 56px 124px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 59px 350px 44px 350px;
  }
}

.advantages__title {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 38px;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    margin: 0 0 30px;
  }
}

.advantages__title br:first-child {
  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.advantages__description {
  color: variables.$text-color-secondary;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages__list {
  @include mixins.reset-list;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.advantages__item {
  background-color: #ffffff;
}

.advantages__item:first-child {
  @media (max-width: variables.$mobile-width-only) {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("../img/backgrounds/divider.svg");
    padding-top: 36px;
  }
}

.advantages__item--photo {
  background-color: #81b3d2;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 256px 1fr;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
}

.advantages__item--photo-reverse {
  @media (min-width: variables.$tablet-width) {
    grid-template-columns: 1fr 256px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 1fr 400px;
  }
}

.advantages__item--text {
  background-color: #eeeeee;
}

.advantages__item--text:not(:last-child) .advantages__card--text {
  @media (max-width: variables.$mobile-width-only) {
    border-bottom: 1px solid #d6d6d6;
  }
}

.advantages__card {
  padding: 37px 25px;

  @media (max-width: variables.$mobile-width-only) {
    margin: 0 auto;
    width: 320px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 41px 20px 31px;
    width: 256px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 52px 55px 51px;
    width: 400px;
  }
}

.advantages__card--text {
  @media (max-width: variables.$mobile-width-only) {
    margin: 0 18px;
    width: 284px;
  }
}

.advantages__card--thin {
  @media (max-width: variables.$mobile-width-only) {
    padding: 37px 32px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 53px 30px 32px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 37px 70px;
  }
}

.advantages__card--city {
  @media (min-width: variables.$tablet-width) {
    padding: 52px 20px 31px;
  }
}

.advantages__card--square {
  @media (max-width: variables.$mobile-width-only) {
    padding: 26px 14px 22px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 57px 55px 51px;
  }
}

.advantages__card--road {
  @media (max-width: variables.$mobile-width-only) {
    padding: 26px 14px 22px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 41px 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 57px 30px;
  }
}

.advantages__card--tourist {
  @media (max-width: variables.$mobile-width-only) {
    padding: 25px 14px 29px;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 41px 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 57px 30px;
  }
}

.advantages__name {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
  font-size: 18px;

  margin-bottom: 11px;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    margin-bottom: 14px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 13px;
  }
}

.advantages__name br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.advantages__name--photo {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;

  color: variables.$text-color-alternate;
  margin-bottom: 11px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 15px;
  }
}

.advantages__number {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;
  color: variables.$text-color-secondary;

  margin-bottom: 17px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 23px;
  }
}

.advantages__number--photo {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;
  color: variables.$text-color-alternate;

  margin-bottom: 17px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 23px;
  }
}

.advantages__text {
  @include mixins.reset-header-paragraph;
  color: variables.$text-color-secondary;
  text-transform: uppercase;
  text-align: center;
}

.advantages__text--bridge br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
  }
}

.advantages__text--road br {

  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    display: block;
    text-align: center;
  }
}

.advantages__text--photo {
  @include mixins.reset-header-paragraph;
  color: variables.$text-color-alternate;
  text-transform: uppercase;
  text-align: center;
}

.advantages__photo-wrapper {
  @media (min-width: variables.$desktop-width) {
    min-width: 800px;
  }
}

.advantages__photo-wrapper-reverse {
  @media (min-width: variables.$tablet-width) {
    order: -1;
  }

  @media (min-width: variables.$desktop-width) {
    order: -1;
  }
}

.advantages__photo {
  display: block;
  object-fit: cover;
  background-color: #82b3d3;
  width: 100%;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    height: 100%;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
    height: 100%;
  }
}
