@use "../mixins";
@use "../variables";

.card {
  width: 100%;

  @media (max-width: variables.$mobile-width-only) {
    margin-top: 23px;
  }
}

.card--full {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1/-1;
  }
}

.card:not(:last-child) {
  @media (max-width: variables.$mobile-width-only) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.card__image {
  display: block;
  object-fit: cover;

  @media (max-width: variables.$mobile-width-only) {
    margin: 0 20px 14px 20px;
    width: calc(100% - 40px);
    min-height: 280px;
  }

  @media (min-width: variables.$tablet-width) {
    width: 100%;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
  }
}

.card__details {
  margin: 0 20px;
  width: calc(100% - 40px);

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    padding: 19px 20px 11px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    min-height: 80px;
    bottom: 0;
  }
}

.card__text-wrapper {
  @media (max-width: variables.$mobile-width-only) {
    margin-bottom: 11px;
  }
}

.card__title {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;

  @include mixins.text--bold(14px, variables.$text-color-primary);

  @media (min-width: variables.$desktop-width) {
    @include mixins.text--bold(14px, variables.$text-color-alternate);
  }
}

.card__description {
  display: block;

  @include mixins.text--normal(14px, variables.$text-color-secondary);

  @media (min-width: variables.$desktop-width) {
    @include mixins.text--bold(14px, variables.$text-color-alternate);
  }
}

.card__like-wrapper {

  display: block;
  text-decoration: none;

  @media (max-width: variables.$mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: variables.$tablet-width) {
    align-self: center;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    @include mixins.focus(#000000);

    @media (min-width: variables.$desktop-width) {
      @include mixins.focus(#FFFFFF);
    }
  }

  &:focus-visible {
    @include mixins.focus(#000000);

    @media (min-width: variables.$desktop-width) {
      @include mixins.focus(#FFFFFF);
    }
  }
}

.card__like-wrapper::before {
  vertical-align: center;
  display: inline-block;
  content: "";
  mask-image: url("../img/sprite.svg#like");
  background-color: #000000;
  opacity: 0.3;
  width: 23px;
  height: 21px;
  margin-right: 10px;

  @media (min-width: variables.$desktop-width) {
    background-color: #ffffff;
    opacity: 1;
  }
}

.card__like-counter {
  @include mixins.text--bold(14px, variables.$text-color-primary);

  @media (min-width: variables.$desktop-width) {
    @include mixins.text--bold(14px, variables.$text-color-alternate);
  }
}
