@use "../mixins";
@use "../variables";

.card {
  width: 100%;
  margin-top: 24px;
}

.card:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
}

.card__image {
  margin: 0 20px 15px 20px;
  object-fit: cover;

  width: calc(100% - 40px);
  min-height: 280px;

  @media (min-width: variables.$tablet-width) {
    width: 100%;
    min-height: 400px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 100%;
    min-height: 400px;
  }
}

.card__details {
  margin: 0 20px;
}

.card__title {
  @include mixins.reset-header-paragraph;
  @include mixins.text--bold(14px, variables.$text-color-primary);
  text-transform: uppercase;
}

.card__description {
  @include mixins.text--normal(14px, variables.$text-color-secondary);
  display: block;
  margin-bottom: 11px;
}

.card__like-wrapper {
  margin-bottom: 25px;
}

.card__like-image {
  margin-right: 14px;
}

.card__like-counter {
  @include mixins.text--bold(14px, variables.$text-color-primary);
}
