@use "../mixins";
@use "../variables";

.checkbox {
  position: relative;
  display: block;
  min-height: 46px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.checkbox__input:focus ~ .checkbox__name::before {
  @include mixins.focus(#000000);
}
.checkbox__input:focus-visible ~ .checkbox__name::before {
  @include mixins.focus(#000000);
}


.checkbox__name {
  @include mixins.text--bold(18px, variables.$text-color-primary);
  padding: 10px 10px 10px 62px;
  display: block;
  position: relative;
}

.checkbox__name::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}

.checkbox:hover .checkbox__name::before {
  background-color: #e5e5e5;
}

.checkbox:active .checkbox__name::before {
  background-color: #d5d5d5;
}

.checkbox__input:checked ~ .checkbox__name::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 16px;
  width: 22px;
  height: 16px;
  background-image: url("../img/input/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

checkbox:active .checkbox__name::after {
  background-color: rgba(51, 51, 51, 0.3);
}
