@use "../mixins";
@use "../variables";

.checkbox {
  position: relative;
  display: block;
  min-height: 46px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  overflow: clip;
}

.checkbox--bridge {
  @media (min-width: variables.$desktop-width) {
    min-width: 172px;
  }
}

.checkbox--mountain {
  @media (min-width: variables.$desktop-width) {
    min-width: 170px;
  }
}

.checkbox--park {
  @media (min-width: variables.$desktop-width) {
    min-width: 153px;
  }
}

.checkbox--rocks {
  @media (min-width: variables.$desktop-width) {
    min-width: 184px;
  }
}

.checkbox__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.checkbox__input:focus ~ .checkbox__name::before {
  @include mixins.focus(#000000);
}

.checkbox__name {
  padding: 10px 10px 10px 62px;
  display: block;
  position: relative;
}

.checkbox__name--desktop {
  @media (min-width: variables.$desktop-width) {
    padding: 10px 0 10px 60px;
  }
}

.checkbox__name::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}

.checkbox__name::after {
  background-color: #333333;
}

.checkbox:hover .checkbox__name::before {
  background-color: #e5e5e5;
}

.checkbox:active .checkbox__name::before {
  background-color: #d5d5d5;
}

.checkbox__input:checked ~ .checkbox__name::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 16px;
  width: 22px;
  height: 16px;
  mask-image: url("../img/input/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox:active .checkbox__name::after {
  background-color: rgba(51, 51, 51, 0.3);
}
