@use "../mixins";
@use "../variables";

.fieldset__title-wrapper {
  display: block;

  @media (max-width: variables.$mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 28px;
  }
}

.fieldset__title-wrapper--places {
  @media (min-width: variables.$desktop-width) {
    margin-bottom: 58px;
  }
}

.fieldset__title-wrapper--emotions {
  @media (min-width: variables.$desktop-width) {
    margin-top: 37px;
  }
}

.fieldset__title-wrapper--fio {
  @media (max-width: variables.$mobile-width-only) {
    margin-bottom: 13px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 22px;
  }
}

.fieldset__title-wrapper--contacts {
  @media (max-width: variables.$mobile-width-only) {
    margin-bottom: 13px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 23px;
  }
}

.fieldset__title-wrapper--decorated {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: 123px 1fr 123px;
    align-items: center;
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 280px 1fr 280px;
    align-items: center;
  }
}

.fieldset__title-wrapper--decorated::before,
.fieldset__title-wrapper--decorated::after {
  @media (min-width: variables.$tablet-width) {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
  }

  @media (min-width: variables.$desktop-width) {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
  }
}

.fieldset__title-wrapper--decorated::before {
  @media (min-width: variables.$tablet-width) {
    grid-column: 1/2;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1/2;
  }
}

.fieldset__title-wrapper--decorated::after {
  @media (min-width: variables.$tablet-width) {
    grid-column: 3/-1;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 3/-1;
  }
}

.fieldset__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    grid-column: 2/3;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2/3;
  }
}

.fieldset__list {
  @include mixins.reset-list;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-rows: min-content;
  }
}

.fieldset__list--radio {
  @media (min-width: variables.$tablet-width) {
    margin-left: 36px;
    margin-right: 36px;
    column-gap: 16px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 44px 53px 0 53px;
    column-gap: 28px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.fieldset__list--checkbox {
  @media (min-width: variables.$tablet-width) {
    margin: 0 auto;
    column-gap: 32px;
  }

  @media (min-width: variables.$desktop-width) {
    column-gap: 64px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.fieldset__item {
  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset__item--radio {
  margin-bottom: 14px;
}

.fieldset__item--checkbox {
  margin-bottom: 16px;
}

.fieldset__textarea {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: variables.$text-color-primary-opacity;
  background-color: #f2f2f2;
  padding: 16px;
  resize: none;
  height: 160px;
  width: 100%;
  border: none;

  &:hover {
    background: #e5e5e5;
  }

  &:active {
    background: #d5d5d5;
  }

  &:focus {
    @include mixins.focus(#000000);
  }

  @media (min-width: variables.$desktop-width) {
    margin-left: 96px;
    margin-right: 96px;
    max-width: 768px;
  }
}
