@use "../mixins";
@use "../variables";

.form__fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border-style: none;

  @media (max-width: variables.$mobile-width-only) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.form__fieldset--fio {
  @media (max-width: variables.$mobile-width-only) {
    padding: 24px 20px 38px;
  }

  @media (min-width: variables.$tablet-width) {
    border-bottom: none;
    grid-column: 1/2;
    padding-right: 29px;
    border-right: 1px solid #dbdbdb;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1/2;
    padding-right: 50px;
    border-right: 1px solid #dbdbdb;
  }
}

.form__fieldset--contacts {
  @media (max-width: variables.$mobile-width-only) {
    padding: 25px 20px 33px;
  }

  @media (min-width: variables.$tablet-width) {
    grid-column: 2/3;
    padding-left: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2/3;
    padding-left: 50px;
  }
}

.form__fieldset--impression {
  @media (max-width: variables.$mobile-width-only) {
    padding: 25px 20px 18px;
  }

  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
    margin-top: 32px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1/-1;
  }
}

.form__fieldset--places {
  @media (max-width: variables.$mobile-width-only) {
    padding: 25px 19px 23px;
  }

  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
    margin-top: 14px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1/-1;
    margin-top: 20px;
  }
}

.form__fieldset--emotions {
  border-bottom: none;

  @media (max-width: variables.$mobile-width-only) {
    padding: 24px 20px 50px;
  }

  @media (min-width: variables.$tablet-width) {
    grid-column: 1/-1;
    margin-top: -3px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 1/-1;
  }
}

.form__button-wrapper {
  margin-bottom: 22px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: variables.$tablet-width) {
    margin-top: 11px;
    margin-bottom: 65px;
    padding: 0;

    &:last-child {
      grid-column: 1/-1;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin: 3px 96px 63px;
    max-width: 768px;
  }
}

.form__button {
  @include mixins.button;
  border: none;

  &:focus {
    @include mixins.focus(#000000);
  }
}

.form__button--review {
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: variables.$tablet-width) {
    min-width: 324px;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 384px;
  }
}

.form__hint {
  text-transform: uppercase;
  text-align: right;
  padding: 17px 0 3px 3px;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;

  @media (max-width: variables.$mobile-width-only) {
    padding: 0;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 14px;
  }
}
