@use "../mixins";
@use "../variables";

.gallery__wrapper {
  @media (min-width: variables.$tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.gallery__header {
  padding: 30px 20px 42px 20px;

  @media (min-width: variables.$tablet-width) {
    padding: 61px 100px 85px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 99px 300px 88px;
  }
}

.gallery__title {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;

  @include mixins.text--bold(21px, variables.$text-color-primary);
  margin-bottom: 27px;

  @media (min-width: variables.$tablet-width) {
    @include mixins.text--bold(30px, variables.$text-color-primary);
    margin-bottom: 32px;
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.text--bold(30px, variables.$text-color-primary);
    margin-bottom: 32px;
  }
}

.gallery__description {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;

  @include mixins.text--normal(14px, variables.$text-color-secondary);

  @media (min-width: variables.$tablet-width) {
    @include mixins.text--normal(14px, variables.$text-color-secondary);
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.text--normal(14px, variables.$text-color-secondary);
  }
}

.gallery__description--mobile {
  @media (max-width: variables.$mobile-width-only) {
    display: block;
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    display: none;
  }
}

.gallery__description--tablet {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    display: block;
  }

  @media (min-width: variables.$desktop-width) {
    display: none;
  }
}

.gallery__description--desktop {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
  }
}
