@use "../variables";

.hero {
  background-image: url("../../img/backgrounds/divider.svg"), url("../../img/backgrounds/index.jpg");
  background-size: contain, cover;
  background-position: bottom;
  color: #FFFFFF;
  background-color: #DDEBF4;
  background-repeat: no-repeat;

  max-height: 389px;
  padding: 90px 19px 85px 19px;

  @media (min-width: variables.$tablet-width) {
    max-height: 518px;
    padding: 77px 154px 91px 153px;
  }

  @media (min-width: variables.$desktop-width) {
    max-height: 518px;
    padding: 78px 370px 90px 370px;
  }
}

.hero__logo {
  display: block;
  margin: 0 auto;
  color: #000000;

  max-height: 214px;

  @media (min-width: variables.$tablet-width) {
    max-height: 350px;
  }

  @media (min-width: variables.$desktop-width) {
    max-height: 350px;
  }
}
