@use "../variables";

.hero {
  background-size: contain, cover;
  background-position: bottom, bottom;
  background-repeat: no-repeat, no-repeat;
  color: #ffffff;
  background-color: #ddebf4;
  background-image: url("../img/backgrounds/divider-mobile.svg"), url("../img/backgrounds/background-index-mobile.webp");
  padding: 90px 19px 85px 19px;
  max-height: 389px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/divider-mobile.svg"), url("../img/backgrounds/background-index-mobile@2x.webp");
  }

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/backgrounds/divider-tablet.svg"), url("../img/backgrounds/background-index-tablet.webp");
    padding: 77px 154px 91px 153px;
    max-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/divider-tablet.svg"), url("../img/backgrounds/background-index-tablet@2x.webp");
    }
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/backgrounds/divider-desktop.svg"), url("../img/backgrounds/background-index-desktop.webp");
    padding: 78px 370px 90px 370px;
    max-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/divider-desktop.svg"), url("../img/backgrounds/background-index-desktop@2x.webp");
    }
  }
}

.hero--inner {
  background-image: url("../img/backgrounds/divider-mobile.svg"), url("../img/backgrounds/background-mobile.webp");
  padding: 52px 45px 67px 46px;
  max-height: 158px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/divider-mobile.svg"), url("../img/backgrounds/background-mobile@2x.webp");
  }

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/backgrounds/divider-tablet.svg"), url("../img/backgrounds/background-tablet.webp");
    padding: 95px 154px 117px 157px;
    max-height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/divider-tablet.svg"), url("../img/backgrounds/background-tablet@2x.webp");
    }
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/backgrounds/divider-desktop.svg"), url("../img/backgrounds/background-desktop.webp");
    padding: 101px 370px 120px 370px;
    max-height: 301px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/divider-desktop.svg"), url("../img/backgrounds/background-desktop@2x.webp");
    }
  }
}

.hero__logo {
  display: block;
  margin: 0 auto;
  color: #000000;

  @media (min-width: variables.$tablet-width) {
    width: 461px;
    height: 350px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 460px;
    height: 350px;
  }
}

.hero__logo--inner {
  max-height: 229px;

  @media (min-width: variables.$tablet-width) {
    max-height: 350px;
    width: 457px;
    height: 78px;
  }

  @media (min-width: variables.$desktop-width) {
    max-height: 350px;
    width: 460px;
    height: 80px;
  }
}
