@use "../variables";

.hero {
  background-size: contain, cover;
  background-position: bottom;
  color: #FFFFFF;
  background-color: #DDEBF4;
  background-repeat: no-repeat;

  background-image: url("../../img/backgrounds/divider.svg"), url("../../img/backgrounds/index.jpg");
  padding: 90px 19px 22% 19px;

  @media (min-width: variables.$tablet-width) {
    background-image: url("../../img/backgrounds/divider-tablet.svg"), url("../../img/backgrounds/index.jpg");
    padding: 77px 154px 17% 153px;
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../../img/backgrounds/divider-desktop.svg"), url("../../img/backgrounds/index.jpg");
    padding: 78px 370px 17% 370px;
  }
}

.hero__logo {
  display: block;
  margin: 0 auto;
  color: #000000;

  max-height: 214px;

  @media (min-width: variables.$tablet-width) {
    max-height: 350px;
  }

  @media (min-width: variables.$desktop-width) {
    max-height: 350px;
  }
}
