@use "../mixins";
@use "../variables";

.input {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input__label {
  @include mixins.text--normal(14px, variables.$text-color-secondary);
  text-transform: uppercase;
  display: block;
}

.input__wrapper {
  position: relative;
}

.input__edit {
  @include mixins.text--bold(18px, variables.$text-color-primary);
  border: none;
  background: #f2f2f2;
  padding: 16px;
  width: 100%;
}

.input__edit--icon {
  padding: 16px 74px 16px 16px;
}

.input__icon-wrapper {
  width: 58px;
  height: 58px;
  position: absolute;
  left: calc(100% - 58px);
  top: 0;
  padding: 20px;
  background-color: #e6e6e6;
}

.input__edit::placeholder {
  @include mixins.text--bold(18px, variables.$text-color-primary-opacity);
}


