@use "../mixins";
@use "../variables";

.input {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input__label {
  color: variables.$text-color-secondary;
  text-transform: uppercase;
  display: block;
  padding: 0 16px;
}

.input__wrapper {
  position: relative;
}

.input__edit {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  background: #f2f2f2;
  border: 4px solid transparent;
  padding: 12px;
  width: 100%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    padding: 12px;
    outline: none;
  }

  &:focus {
    outline: 3px solid variables.$text-color-primary;
  }
}

.input__edit--icon {
  &:focus {
    outline: 3px solid variables.$text-color-primary;
  }
}

.input__icon-wrapper {
  width: 58px;
  height: 58px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__icon-wrapper::after {
  display: block;
  content: "";
}

.input__icon-wrapper--phone::after {
  mask-image: url("../img/sprite.svg#phone");
  width: 18px;
  height: 18px;
  background-color: #010101;
}

.input__icon-wrapper--email::after {
  mask-image: url("../img/sprite.svg#email");
  width: 16px;
  height: 12px;
  background-color: #000000;
}

.input__edit::placeholder {
  font-size: 18px;
  color: variables.$text-color-primary-opacity;
}
