@use "../mixins";
@use "../variables";

.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    @include mixins.focus(#000000);
  }

  &:focus-visible {
    @include mixins.focus(#000000);
  }
}

.main-header__image {
  display: block;
}

.main-header__nav {
  position: relative;

  @media (min-width: variables.$tablet-width) {
    position: static;
  }

  @media (min-width: variables.$desktop-width) {
    position: static;
  }
}
