@use "../mixins";
@use "../variables";

.main-nav {
  min-height: 56px;
}

.main-nav--closed .main-nav__list {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  @media (max-width: variables.$mobile-width-only) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  }
}

.main-nav--opened {
  z-index: 2;
}

.main-nav--opened .main-nav__toggle {
  z-index: 3;
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  @media (max-width: variables.$mobile-width-only) {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 27px;
    height: 4px;
    background-color: #ffffff;
  }
}

.main-nav--opened .main-nav__toggle::before {
  @media (max-width: variables.$mobile-width-only) {
    transform: rotate(45deg);
    box-shadow: none;
  }
}

.main-nav--opened .main-nav__toggle::after {
  @media (max-width: variables.$mobile-width-only) {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: variables.$mobile-width-only) {
    position: static;
    display: flex;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  left: calc(100% - 42px);
  bottom: calc(100% - 40px);
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  border: none;
  display: block;
  background-color: transparent;

  @media (min-width: variables.$tablet-width) {
    display: none;
  }

  @media (min-width: variables.$desktop-width) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  @include mixins.reset-list;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: variables.$mobile-width-only) {
    flex-direction: column;
    background-color: #678fa8;
    gap: 1px;
    position: absolute;
    width: 100%;
  }

  @media (min-width: variables.$tablet-width) {
    justify-content: space-between;
    padding: 18px 10px 17px 10px;
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: space-between;
    padding: 18px 10px 17px 10px;
  }
}

.main-nav__item {
  @include mixins.text--bold(14px, variables.$text-color-primary);
  text-transform: uppercase;
  text-align: center;

  @media (max-width: variables.$mobile-width-only) {
    @include mixins.text--bold(18px, variables.$text-color-alternate);
    min-height: 55px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

    &:first-child {
      box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
    }

    &:last-child {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
      position: relative;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 7px;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }

  @media (min-width: variables.$tablet-width) {
    min-width: 20%;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 20%;
  }
}

.main-nav__item:nth-child(4n+3) {
  @media (min-width: variables.$tablet-width) {
    margin: 0 0 0 20%;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 0 0 20%;
  }
}

.main-nav__link {
  color: inherit;
  text-decoration: none;
  display: block;
  width: auto;

  @media (max-width: variables.$mobile-width-only) {
    background-color: #81b3d2;
    padding: 17px 70px 12px 70px;
  }

  &:hover {
    @media (max-width: variables.$mobile-width-only) {
      background-color: #669ec0;
    }

    @media (min-width: variables.$tablet-width) {
      color: #81b3d2;
    }
  }

  &:active {
    @media (max-width: variables.$mobile-width-only) {
      background-color: #5496bd;
      opacity: 0.3;
    }

    @media (min-width: variables.$tablet-width) {
      color: #000000;
      opacity: 0.3;
    }
  }
}

.main-nav__item--current {
  color: #766357;
  pointer-events: none;

  @media (max-width: variables.$mobile-width-only) {
    @include mixins.text--bold(18px, variables.$text-color-alternate);
  }
}
