@use "../mixins";
@use "../variables";

.map {
  margin: 49px 0 8px 0;

  @media (min-width: variables.$tablet-width) {
    margin: 55px 0 0 0;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 66px 0 0 0;
  }
}

.map__frame {
  display: block;
  border: none;
  width: 100%;
  max-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/map/map-mobile.jpg");

  @media (min-width: variables.$tablet-width) {
    background-image: url("../img/map/map-tablet.jpg");
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/map/map-desktop.jpg");
  }

  &:focus {
    @include mixins.focus(#000000);
  }
}

.map__image {
  display: block;
  border: none;
  width: 100%;
  min-height: 350px;

  @media (min-width: variables.$tablet-width) {
    height: 100%;
  }

  @media (min-width: variables.$desktop-width) {
    height: 100%;
  }
}
