@use "../mixins";
@use "../variables";

.modal {

}

.modal--failure {
  display: none;
  min-height: 280px;
}

.modal--success {
  display: none;
  min-height: 323px;
}

.modal__wrapper {

  background-color: #FFFFFF;
  height: min-content;

  @media (max-width: variables.$mobile-width-only) {
    margin-top: 116px;
  }

  @media (min-width: variables.$tablet-width) {
    width: 400px;
    margin: 283px auto;
  }

  @media (min-width: variables.$desktop-width) {
    width: 640px;
    margin: 162px auto;
  }

}

.modal__content-wrapper {
  padding: 45px 42px 28px 41px;
}

.modal__title {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;

  @include mixins.text--bold(21px, variables.$text-color-primary);
  margin-bottom: 32px;
}

.modal__message {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;

  @include mixins.text--normal(14px, variables.$text-color-secondary);
}

.modal__button-wrapper {
  padding: 20px;
  background-color: #F2F2F2;
}

.modal__button {
  @include mixins.button;
  border: none;
  padding: 18px 20px 14px 20px;
  display: block;

  @media (max-width: variables.$mobile-width-only) {
    margin: 0 auto 35px auto;
  }

  @media (min-width: variables.$tablet-width) {
    margin: 0 auto 20px auto;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 auto 20px auto;
  }

  min-width: 180px;
  max-width: 280px;
}
