@use "../variables";

.page {
  height: 100%;
}

.page__body {
  min-width: 320px;

  @media (min-width: variables.$desktop-width) {
    background-color: #E7E5E5;
  }
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FFFFFF;

  @media (min-width: variables.$desktop-width) {
    margin: 0 40px;
  }
}

.page__header {
  min-height: 54px;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  min-height: 120px;
}

.page__modal {

}
