@use "../mixins";
@use "../variables";

.photo {

}

.photo__list {
  @include mixins.reset-list;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: variables.$tablet-width) {

  }

  @media (min-width: variables.$desktop-width) {

  }
}

.photo__item {

}
