@use "../mixins";
@use "../variables";

.radio {
  position: relative;
  display: block;
  min-height: 46px;
  cursor: pointer;
  min-width: 280px;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
}

.radio--short {
  @media (min-width: variables.$desktop-width) {
    min-width: 236px;
  }
}

.radio__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.radio__input:focus ~ .radio__name::before {
  @include mixins.focus(#000000);
}

.radio__name {
  padding: 10px 10px 13px 62px;
  display: block;
  position: relative;
}

.radio__name--short {
  padding: 10px 0 13px 62px;
}

.radio__name::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.radio:hover .radio__name::before {
  background-color: #e5e5e5;
}

.radio:active .radio__name::before {
  background-color: #d5d5d5;
}

.radio__input:checked ~ .radio__name::after {
  position: absolute;
  content: "";
  left: 15px;
  top: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}

.radio:active .radio__name::after {
  background-color: rgba(51, 51, 51, 0.3);
}
