@use "../mixins";
@use "../variables";

.search {
  color: variables.$text-color-secondary;
}

.search__wrapper {
  padding: 41px 29px 0 29px;
  margin-bottom: 31px;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 166px 0 167px;
    margin-bottom: 44px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 60px 382px 0 383px;
    margin-bottom: 44px;
  }
}

.search__title {
  @include mixins.reset-header-paragraph;
  font-weight: 700;
  line-height: 26px;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;

  @media (min-width: variables.$tablet-width) {
    font-size: 30px;
    margin-bottom: 32px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 36px;
  }
}

.search__description {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;
}

.search__description br {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    display: block;
  }
}

.search__button-wrapper {
  padding: 0 18px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 155px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 371px;
  }
}

.search__link {
  @include mixins.button;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;

  width: 284px;

  @media (min-width: variables.$tablet-width) {
    width: 458px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 458px;
  }

  &:focus {
    @include mixins.focus(#000000);
  }
}

.search__link--disable {
  background-color: #e5e5e5;
  pointer-events: none;
}
