@use "../mixins";

.search {

}

.search__title {
  @include mixins.text--bold(21px, #000000);
  text-transform: uppercase;
}

.search__description {
  @include mixins.text--normal(#333333);
  text-transform: uppercase;
}

.search__link {
  @include mixins.button;
  text-decoration: none;
}
