@use "../mixins";
@use "../variables";

.search {

}

.search__wrapper {
  padding: 38px 29px 0 29px;
  margin-bottom: 32px;

  @media (min-width: variables.$tablet-width) {
    padding: 60px 166px 0 167px;
    margin-bottom: 44px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 60px 382px 0 383px;
    margin-bottom: 44px;
  }
}

.search__title {
  @include mixins.reset-header-paragraph;
  @include mixins.text--bold(21px, variables.$text-color-primary);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.search__description {
  @include mixins.reset-header-paragraph;
  @include mixins.text--normal(14px, variables.$text-color-secondary);
  text-transform: uppercase;
  text-align: center;
}

.search__button-wrapper {
  padding: 0 18px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 155px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 371px;
  }
}

.search__link {
  @include mixins.button;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto;

  width: 284px;

  @media (min-width: variables.$tablet-width) {
    width: 458px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 458px;
  }
}
