@use "../mixins";
@use "../variables";

.services__list {
  @include mixins.reset-list;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  padding: 23px 18px 46px 18px;
  gap: 25px;

  @media (min-width: variables.$tablet-width) {
    justify-content: space-between;
    padding: 0;
    gap: 0;
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: space-between;
    padding: 0;
    gap: 0;
  }
}

.services__item {
  min-width: 284px;
  max-width: 400px;
  min-height: 113px;

  padding: 0 0 0 47px;

  background-repeat: no-repeat;

  background-position-x: left;
  background-position-y: 0;
  background-size: 40px 40px;

  @media (min-width: variables.$tablet-width) {
    width: 33%;
    min-height: 331px;
    padding: 158px 33px 60px 33px;
    background-position-x: center;
    background-position-y: 59px;
    background-size: 77px 72px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 33%;
    min-height: 330px;

    padding: 169px 50px 69px 50px;
    background-position-x: center;
    background-position-y: 69px;
    background-size: 80px 73px;
  }
}

.services__item_home {
  background-image: url("../../img/services/house.svg");
}

.services__item_food {
  background-image: url("../../img/services/food.svg");
}

.services__item_presents {
  background-image: url("../../img/services/gift.svg");
}

.services__title {
  @include mixins.reset-header-paragraph;
  @include mixins.text--bold(18px, variables.$text-color-primary);
  text-transform: uppercase;

  margin-top: 8px;
  margin-bottom: 16px;
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    margin-top: 0;
    margin-bottom: 29px;
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 0;
    text-align: center;
  }
}

.services__description {
  @include mixins.reset-header-paragraph;
  @include mixins.text--normal(14px, variables.$text-color-secondary);
  text-transform: uppercase;
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    text-align: center;
  }

  @media (min-width: variables.$desktop-width) {
    text-align: center;
  }
}
