@use "../mixins";
@use "../variables";

.services {
  color: variables.$text-color-secondary;
}

.services__list {
  @include mixins.reset-list;
  display: flex;
  flex-wrap: wrap;

  justify-content: left;
  padding: 23px 18px 46px 18px;
  gap: 25px;

  @media (min-width: variables.$tablet-width) {
    padding: 0;
    gap: 0;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
    gap: 0;
  }
}

.services__item {
  padding: 0 0 0 47px;

  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 0;
  background-size: 40px 40px;

  @media (max-width: variables.$mobile-width-only) {
    width: 284px;
  }

  @media (min-width: variables.$tablet-width) {
    width: 256px;
    background-position-x: center;
    background-position-y: 59px;
    background-size: 77px 72px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 400px;

    background-position-x: center;
    background-position-y: 69px;
    background-size: 80px 73px;
  }
}

.services__item--home {
  background-image: url("../img/services/house.svg");

  @media (min-width: variables.$tablet-width) {
    padding: 158px 33px 60px 33px;
    background-position-y: 60px;
    background-size: 77px 72px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 170px 33px 60px;
    background-position-y: 69px;
    background-size: 77px 72px;
  }
}

.services__item--food {
  background-image: url("../img/services/food.svg");

  @media (min-width: variables.$tablet-width) {
    padding: 156px 33px 61px 33px;
    background-position-y: 59px;
    background-size: 79px 72px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 168px 33px 61px;
    background-position-y: 72px;
    background-size: 74px 69px;
  }
}

.services__item--presents {
  background-image: url("../img/services/gift.svg");

  @media (min-width: variables.$tablet-width) {
    padding: 153px 33px 64px 33px;
    background-position-y: 64px;
    background-size: 67px 75px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 171px 33px 64px;
    background-position-y: 69px;
    background-size: 77px 75px;
  }
}

.services__title {
  @include mixins.reset-header-paragraph;
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  text-transform: uppercase;

  margin-top: 8px;
  margin-bottom: 16px;
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 22px;
    text-align: center;
  }
}

.services__description {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: variables.$tablet-width) {
    text-align: center;
  }
}
