@use "../mixins";

.social__list {
  @include mixins.reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  max-width: 156px;
}

.social__item {
  min-width: 48px;
  min-height: 48px;
}

.social__link {
  display: block;
  padding: 12px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:focus {
    @include mixins.focus(#000000);
  }

  &:focus-visible {
    @include mixins.focus(#000000);
  }
}

.social__link:active::after {
  opacity: 0.3;
}

.social__link::after {
  display: block;
  content: "";
  background-color: #ffffff;
  width: 24px;
  height: 24px;
}

.social__link--vk::after {
  mask-image: url("../img/sprite.svg#vk");
}

.social__link--telegram::after {
  mask-image: url("../img/sprite.svg#telegram");
}

.social__link--youtube::after {
  mask-image: url("../img/sprite.svg#youtube");
}
