@use "../mixins";

.social__list {
  @include mixins.reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  max-width: 156px;
}

.social__item {
  min-width: 48px;
  min-height: 48px;
}

.social__link {
  display: block;
  padding: 12px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.social__icon {
  width: 24px;
  height: 24px;
}

.social__icon path {
  fill: #ffffff;
}
