@use "../mixins";
@use "../variables";

.video__text-wrapper {
  margin: 0 auto;

  min-width: 266px;
  max-width: 360px;
  padding: 17px 26px 38px 28px;

  @media (min-width: variables.$tablet-width) {
    min-width: 445px;
    max-width: 560px;
    padding: 62px 0 70px 0;
  }

  @media (min-width: variables.$desktop-width) {
    min-width: 445px;
    max-width: 560px;
  }
}

.video__title {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;

  @include mixins.text--bold(18px, variables.$text-color-primary);
  margin-bottom: 36px;

  @media (min-width: variables.$tablet-width) {
    @include mixins.text--bold(30px, variables.$text-color-primary);
    margin-bottom: 30px;
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.text--bold(30px, variables.$text-color-primary);
    margin-bottom: 32px;
  }
}

.video__description {
  @include mixins.reset-header-paragraph;
  text-transform: uppercase;
  text-align: center;

  @include mixins.text--normal(14px, variables.$text-color-secondary);

  @media (min-width: variables.$tablet-width) {
    @include mixins.text--normal(14px, variables.$text-color-secondary);
  }

  @media (min-width: variables.$desktop-width) {
    @include mixins.text--normal(14px, variables.$text-color-secondary);
  }
}

.video__video-wrapper {
  position: relative;
}

.video__image {
  object-fit: cover;
  margin: 0 20px;
  width: calc(100% - 40px);
  min-height: 177px;

  @media (min-width: variables.$tablet-width) {
    margin: 0 60px;
    width: calc(100% - 120px);
    max-height: 683px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0 200px;
    width: calc(100% - 400px);
    min-height: 681px;
  }
}

.video__button {
  width: 48px;
  height: 54px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  mask-image: url("../img/sprite.svg#play");
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  cursor: pointer;
}

.video__button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.video__button:active {
  background-color: rgba(255, 255, 255, 0.3);
}
