@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;

  text-transform: uppercase;

  padding: 8px 12px;
}

@mixin text--bold($size, $color) {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $size;
  line-height: 26px;
  color: $color;
}

@mixin text--normal($size, $color) {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $size;
  line-height: 21px;
  color: $color;
}
