/* Colors */

$text-color-primary: #000000;
$text-color-primary-opacity: rgba(0, 0, 0, 0.3);
$text-color-secondary: #333333;
$text-color-alternate: #ffffff;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
